[Desktop Entry]
Version=1.0
Type=Application
Name=Skype
Comment=An unofficial client of Skype for Linux, using Electron.
Icon=/home/robert/src/ghetto-skype/skype.png
Exec=npm --prefix /home/robert/src/ghetto-skype start
NoDisplay=false
Categories=Network;
StartupNotify=false
Terminal=false
