$borders = #444
$numixBlack = #2d2d2d
$green   = #167F39

body
	background-color $numixBlack !important
	color white !important

.shellSplashContent
	background-color $numixBlack !important
	color white !important

.side, .Me-skyContainer, .conversationHeader, .input, .Me-large
	background $numixBlack !important

.side:before
	border-right: none !important

.sideContainer
	border-right 1px solid $borders !important

.input:before
	border-top none !important

.input
	border-top 1px solid $borders

	textarea
		color #aaa !important

.inputField
	color #aaa !important

::-webkit-input-placeholder
	color #8CA8B4 !important

.active ::-webkit-input-placeholder
	color #6d6d6d !important

.chatInputActionPicker .action .icon
	color #044C29 !important
	&:hover
		color $green !important

:root .swx .btn.emoticon-picker-button.transparent > span.emoticonStroke
	color #044C29 !important

:root .swx .btn.emoticon-picker-button.transparent:hover > span.emoticonStroke
	color $green !important

.ContactProfile--data-item
	color #eee !important

.conversationHistory:after, .input.showCover:after
	background-color #3d3d3d !important

.shell.footer
	border-top 1px solid $borders !important
	background-color #0d0d0d !important

	.badge
		background-color $green !important

.TranslatorSettings
	background-color inherit !important

.SettingsDialog
	background-color #3d3d3d !important
	border 1px solid #000 !important
	color #fff

	.chat
		background-color #3d3d3d !important

	&:before
		background none !important

.conversationHeader
	border-bottom 1px solid $borders !important

	a
		color #fff !important
	&:after
		border-bottom none !important

.conversation
	background #1d1d1d !important

	.bubble
		background-color inherit !important
	.content, .messageTextWrapper, .liveSessionText
		color #aaa !important
		background-color $numixBlack !important
	.liveSessionText
		padding-left 1em !important

.arrow:after
	background-color inherit !important

.Me-skyContainer
	&:before
		background-color inherit !important
	&:after
		background-color inherit !important

.Me-sky
	box-shadow none !important
	background-color inherit !important

	&:before
		background-color inherit !important
	&:after
		background-color inherit !important

.Me-small:before
	border-right 0 !important

.Me-displayName
	color #fff !important

.tileAvatar:before
	background-color #1d1d1d !important

.tileImage
	background-color $green !important
	border 1px solid black !important

.presence:after, .presence:after:active
	color #45BF55 !important

.timelineComponentContainer .active.message, .timelineComponentContainer .message:before, .searchItem:before, .navItem.icon:hover
	background #1d1d1d !important

.unread .counter .circle
	background-color #d64937 !important
	border 1px solid #000 !important

	&:before
		background-color $numixBlack !important

:root .swx .timeline .recents .recent.unread:hover .unseenNotifications .counter .circle:before
	background-color $numixBlack !important

.iconfont, .titleImage:after
	color lime

.iconfont:active
	background #1d1d1d !important

.btn.circle:not(.stroke)
	&:before
		background-color $green !important
	.iconfont
		color #fff !important

.btn.stroke
	&:before
		border-color $green !important
	&:after
		border-color $green !important
	.iconfont
		color #fff !important

.message .topic, .tileName
	color #ccc !important

.message, .Me-availability
	color #aaa !important
