<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Skype</title>
		<style>
			html, body, webview {
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
			}
		</style>
	</head>
	<body>
		<webview id="skype-view"
			src="loading.html"
			useragent="Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.106 Safari/537.36"
			preload="./preload.js"
			partition="persist:skype">
		</webview>
		<script>require('./skype')</script>
	</body>
</html>
