<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Skype</title>
		<style>
			html, body, webview {
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
			}
		</style>
	</head>
	<body>
		<webview id="skype-view"
			useragent="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2486.0 Safari/537.36 Edge/13.10586"
			src='loading.html'
			partition="persist:skype3"></webview>
		<script>require('./skype')</script>
	</body>
</html>
