$contextmenu_background = #3d3d3d
$chat_background        = #1d1d1d
$background             = #2d2d2d

$normal_text    = #fff
$paragraph_text = #eee
$input_text     = #aaa

$borders    = #444
$green      = #167F39
