@import 'colors'

body
	background-color: $background !important
	color #aaa !important

.ui.dividing.header
	color #fff !important
	border-bottom: 1px solid #3d3d3d !important

select
	color black !important

.ui.table
	border-radius: none !important
	border: none !important
	border-collapse: collapse !important
	background-color: #ccc !important
	color #444 !important

	thead th
		color: #fff !important
		background-color #2185d0 !important
