@import 'colors'

body
	background-color $background !important
	color $normal_text !important

:root .swx .themeWhite
	background-color $background !important

.shellSplashContent
	background-color $background !important
	color white !important

.Me-linkText, [data-swx-testid="conversationTopic"]
	color $normal_text !important

.side, .Me-skyContainer, .conversationHeader, .input, .Me-large
	background $background !important

.side:before
	border-right: none !important

.search .splitter
	background-color $borders !important

.sideContainer
	border-right 1px solid $borders !important

.input:before
	border-top none !important

.input
	border-top 1px solid $borders

	textarea
		color $input_text !important

.inputField
	color $input_text !important

::-webkit-input-placeholder
	color #8CA8B4 !important

.active ::-webkit-input-placeholder
	color #6d6d6d !important

.chatInputActionPicker .action .icon
	color #044C29 !important
	&:hover
		color $green !important

:root .swx .themeLight .btn.transparent > span.iconfont
	color #044C29 !important

:root .swx .themeLight .btn.transparent:hover > span.iconfont
	color $green !important

.ContactProfile--data-item
	color #eee !important

.conversationHistory:after, .input.showCover:after
	background-color #3d3d3d !important

.shell.footer
	border-top 1px solid $borders !important
	background-color #0d0d0d !important

	.badge
		background-color $green !important

.TranslatorSettings
	background-color inherit !important

.SettingsDialog
	background-color $contextmenu_background !important
	border 1px solid #000 !important
	color $normal_text

	.chat
		background-color $contextmenu_background !important

	&:before
		background none !important

.conversationHeader
	border-bottom 1px solid $borders !important

	a
		color $normal_text !important
	&:after
		border-bottom none !important

.conversation
	background $chat_background !important

	.bubble
		background-color inherit !important
	.content, .messageTextWrapper, .liveSessionText
		color #aaa !important
		background-color $background !important
	.liveSessionText
		padding-left 1em !important

.arrow:after
	background-color inherit !important

.Me-skyContainer
	&:before
		background-color inherit !important
	&:after
		background-color inherit !important

.Me-sky
	box-shadow none !important
	background-color inherit !important

	&:before
		background-color inherit !important
	&:after
		background-color inherit !important

.Me-small:before
	border-right 0 !important

:root .swx p.Me-displayName
	color $normal_text !important

:root .swx .PresencePopup
	background-color $contextmenu_background !important
	color $paragraph_text !important
	border none !important

:root .swx .popup.arrow:before
	background: none !important

:root .swx .popup-select-option:hover
	background-color: #1d1d1d !important

.Me-availabilityText span
	color $normal_text !important

.Me--expanded
	background-color $background !important

.tileAvatar:before, .presence.circle.tileAvatar:before
	background-color #1d1d1d !important

.tileImage
	background-color $green !important
	border 1px solid black !important

.presence:after, .presence:after:active
	color #45BF55 !important

.timelineComponentContainer .active.message, .timelineComponentContainer .message:before, .searchItem:before, .navItem.icon:hover
	background #1d1d1d !important

.unread .counter .circle, :root .swx .themeWhite .timeline .recent.active.unread .counter span.circle
	background-color #d64937 !important
	border 1px solid #000 !important

	&:before
		background-color $background !important

:root .swx .timeline .recents .recent.unread:hover .unseenNotifications .counter .circle:before
	background-color $background !important

.iconfont, .titleImage:after
	color lime

.iconfont:active, .icon.active .iconfont, :root .swx .themeWhite .side .navigation .navItem.icon:focus:not(.active)
	background #1d1d1d !important

.btn.circle:not(.stroke)
	&:before
		background-color $green !important
	.iconfont
		color $normal_text !important

.btn.stroke
	&:before
		border-color $green !important
	&:after
		border-color $green !important
	.iconfont
		color $normal_text !important

.message .topic, .tileName
	color #ccc !important

.message, .Me-availability
	color #aaa !important

h2.UserSettingsPage-featureLabel
	color: #aaa !important

a.UserSettingsPage-category
	&:focus
		border: none !important
		padding: 0 30px !important
	&.active
		background-color: #1d1d1d !important
	h2.UserSettingsPage-label
		background-color: inherit !important

h2.UserSettingsPage-label, a.UserSettingsPage-category
	background-color: #2d2d2d !important
	color: #aaa !important
	&:before
		color: #ccc !important

p.UserSettingsPage-featureLabel
	color #aaa !important

.pref-select-element > select
	color #aaa !important
	background-color #3d3d3d !important
	border 1px solid #1d1d1d !important

div.UserSettingsPage-detail--white:before
	border 1px solid $borders !important

h1.ContactsPage-heading, h1.DiscoverAgentsPage--heading, h1.UserSettingsPage-heading, .skypeOutInput
	color #aaa !important

.ContactsPage-categoryItem .MenuItem-link--selected
	color: #fff !important

:root .swx .hyperscroll .rail:hover
	background-color #4d4d4d !important
	border-color #1d1d1d !important

:root .swx .hyperscroll .rail .slider
	background #ccc !important
	border-color #1d1d1d !important

:root .swx h1
	color $normal_text !important

:root .swx p
	color $paragraph_text !important;

:focus
	outline none !important

button.btn.primary:before
	background-color darken($green, 10%) !important

button.btn.secondary:not(.stroke):before
	background-color darken($green, 20%) !important

:root ul.swxContextMenu
	background-color #3d3d3d !important
	border 1px solid #000 !important
	color #ccc !important

	.arrow
		display none !important

	li.separator
		border-color #000 !important

	li.list-selectable:focus span
		background-color inherit

	li.list-selectable:hover span
		background-color #1d1d1d

:root .swx .inviteLink
	background-color $background !important
	border-color $background !important

.welcomeMessage
	background-color #3d3d3d !important

:root .swx .chat .conversationHeader .contactPickerWrapper
	background $background !important
	border-color $borders !important

:root .swx .contactPickerInput
	border-bottom 1px solid $borders !important

	.contacts input
		color $input_text !important

:root .swx .Avatar
	background-color $green !important

	&:after
		border-color $background !important
		background-color white !important

:root .swx .themeLight.chat
	background-color $chat_background !important

:root .swx .chat .conversationHeader .contactPickerWrapper .conversationShareLink button:before
	border none !important

:root .swx .FileTransfer
	background-color darken($green, 35%) !important

	.download
		background-color $green !important
