$background_footer            = #2f343f
$background_sidebar           = #21252b
$background_splashscreen      = $background_sidebar
$background_active_thread     = #5294e2
$background_hover_thread      = #3e424d
$background_avatar            = teal
$background_avatar_status     = rgb(7, 60, 64)
$background_ghetto_mode       = rgb(50, 115, 165)
$background_nav_buttons_hover = rgba(255, 255, 255, 0.1)
$background_nav_buttons       = #000


$footer_border = #000
$side_border   = #000

// The checkmark and the border around the checkmark
$border_avatar_status = transparent
$status_checkmark     = orange

$your_name = #9f9f9f

$search_splitter = #393939
$search_text     = #59747d

$thread_name     = #bac3c9
$thread_subtitle = #bac3c9

$thread_name_active     = #fff
$thread_subtitle_active = #fff
