<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Settings</title>

		<script>
			window.$ = window.jQuery = require('../assets/jquery-2.2.3.min');
		</script>
		<script src="../assets/semantic.min.js"></script>

		<link rel="stylesheet" href="../assets/semantic.min.css">
		<style>
			.container {
				padding: 1em;
			}

			.page-controls {
				float: right;
				margin-right: 0.5em;
			}
		</style>
	</head>
	<body>
		<table class="ui table">
			<thead>
				<tr>
					<th>Setting</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<select name="Theme">
							<option value="default">Web Skype</option>
							<option value="dark">Numix</option>
							<option value="arc-dark">Arc Darker</option>
						</select>
					</td>
					<td>
						Sets a custom theme. This will take effect after restarting Ghetto Skype
					</td>
				</tr>
				<tr>
					<td>
						<div class="ui input">
							<input type="number" name="RefreshInterval" size="3"/>
						</div>
					</td>
					<td>
						<p>Web Skype has a bug where it stops sending/recieving messages for unknown reasons. Ghetto Skype can
							fix it by refreshing your page on an interval in minutes.</p>

						<p>For example, if you set the textbox to 5 then it would refresh Skype every 5 minutes. However,
						it will not refresh if you moved your mouse, entered some text or clicked inside of Skype within the last 5 minutes.</p>

						<strong>To disable this option, set the textbox to 0</b>
					</td>
				</tr>
				<tr>
					<td>
						<div class="ui toggle checkbox">
							<input name="AutoStart" type="checkbox" class="hidden">
						</div>
					</td>
					<td>
						Automatically start Skype when you login to your desktop environment
					</td>
				</tr>
				<tr>
					<td>
						<div class="ui toggle checkbox">
							<input name="StartMinimized" type="checkbox" class="hidden">
						</div>
					</td>
					<td>
						Start Skype hidden in the tray
					</td>
				</tr>
				<tr>
					<td>
						<div class="ui toggle checkbox">
							<input name="NativeImageViewer" type="checkbox" class="hidden">
						</div>
					</td>
					<td>
						Use default image viewer instead of maximizing images in a browser tab
					</td>
				</tr>
				<tr>
					<td>
						<div class="ui toggle checkbox">
							<input name="AltSendKeys" type="checkbox" class="hidden">
						</div>
					</td>
					<td>
						Use Alternative shortcut keys when sending messages. Enter will create a new line and Ctrl+Enter will send the message
					</td>
				</tr>
				<tr>
					<td>
						<div class="ui toggle checkbox">
							<input name="OpenWhenMessaged" type="checkbox" class="hidden">
						</div>
					</td>
					<td>
						Open Ghetto Skype window when you recieve a message
					</td>
				</tr>
				<tr>
					<td>
						<div class="ui toggle checkbox">
							<input name="QuitByCloseWindow" type="checkbox" class="hidden">
						</div>
					</td>
					<td>
						Quit Ghetto Skype after you close its window
					</td>
				</tr>
			</tbody>
		</table>

		<div class="page-controls">
			<button class="ui secondary button">Cancel</button>
			<button class="ui primary button">Save</button>
		</div>
		<script>
			var os        = require('os');
			var fs        = require('fs');
			var path      = require('path');
			var electron  = require('electron');
			var settings  = electron.ipcRenderer.sendSync('get-settings');
			var AutoStart = false;

			var AutoStartInitial = null;

			let autostartFile = os.homedir() + "/.config/autostart/ghetto-skype.desktop";

			fs.access(autostartFile, fs.F_OK, (err) => {
				AutoStartInitial = AutoStart = !err;
				$('[name="AutoStart"]').prop('checked', AutoStartInitial);

				for (var key in settings) {
					$elem = $('[name="' + key + '"]');

					if (typeof settings[key] === 'boolean')
						$elem.prop('checked', settings[key]);
					else
						$elem.val(settings[key]);
				}
			});

			function updateAutoStart(value) {
				if (value === AutoStartInitial) {
					return Promise.resolve();
				}

				return new Promise(function(resolve, reject) {
					if (value) {
						let target = '/usr/share/applications/ghetto-skype.desktop';
						fs.symlink(target, autostartFile, (err) => {
							if (err) {
								// If file doesn't exist, this is a permission issue
								fs.access(autostartFile, fs.R_OK, (err) => {
									if (err) {
										let message = "Ghetto Skype does not have permission to write to " + autostartFile;
										$elem.prop('checked', !value);
										reject(message);
										return;
									}

									reject('IO Error creating symlink.' + err);
								});
							} else {
								resolve();
							}
						});
					} else {
						try {
							fs.unlinkSync(autostartFile);
						} catch(e) {

						}

						resolve();
					}
				});
			}

			$('.checkbox').checkbox();
			$('select, .ui.input input').change(function() {
				let name  = this.name;
				let value = this.value;

				if ($(this).is('[type="number"]')) {
					value = Number(value);
				}

				settings[name] = value;
			});

			$('.checkbox input').change(function() {
				let $elem = $(this);
				let name  = this.name;
				let value = $elem.prop('checked');

				if (name !== 'AutoStart')
					settings[name] = value;
				else
					AutoStart = value;
			});

			$('.secondary.button').click(function() {
				window.close();
			});

			$('.primary.button').click(function() {
				let self = this;
				$(this).addClass('loading');

				// Add or Remove symlink to auto start
				updateAutoStart(AutoStart)
					.then(function() {
						electron.ipcRenderer.send('set-settings', settings);
						electron.ipcRenderer.on('settings-saved', () => {
							let answer = confirm("Some settings require Skype to reload. Hit OK to do so now or Cancel to postpone. You can reload Skype at anytime using the menu found on the tray icon.");
							if (answer) {
								electron.ipcRenderer.send('reload-skype');
							}
							window.close();
						});
					})
					.catch(alert)
					.then(function() {
						$(self).removeClass('loading');
					});
			});
		</script>
	</body>
</html>
