[Desktop Entry]
Version=1.0
Type=Application
Name=Skype
Comment=An unofficial client of Skype for Linux, using Electron.
Icon=/opt/ghetto-skype/assets/tray/skype.png
Exec=npm --prefix /opt/ghetto-skype start
NoDisplay=false
Categories=Network;
StartupNotify=false
Terminal=false
